<app-home></app-home>
<div class="container">
  <form>
    <div class="col-md-6">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Type your Email"
          [(ngModel)]="email" required email>
        <!-- <span class="help-block" *ngIf="!email.valid">Please Enter Valid Email!</span> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="password" class="form-label">Confirm Password</label>
        <input name="password" type="password" class="form-control" id="password" [(ngModel)]="password" required>

      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">

        <button type="submit" (click)="loginUser()" class="btn btn-primary">Sign in</button>
        <p class="bg-light fs-5 text-muted" *ngIf="showMessage">
          {{logProcessMessage}} <span class="spinner-grow spinner-grow-sm text-danger" role="status"
            aria-hidden="true"></span>
        </p>
      </div>
    </div>

  </form>
</div>