<h1 class="alert-heading text-center">Welcome to your resume page</h1>

<!-- <div class="row allResume">
  <div style="width: 100%; text-align: center;margin: 0">
    <h1><b>All Your Resume  </b><span *ngIf="loadingStatus">{{message}}</span><span *ngIf="loadingStatus" class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span></h1>
  </div> -->
  

<div  *ngFor="let data of allResume">
  <!-- 
    <h4 style="overflow-x: hidden">
      <b >{{data.resumeName}}</b>
    </h4> -->
  <p #resId id="resId">{{data._id}}</p>
  <div class="buttonGroup"> 
    <button color="primary" (click)="editResume(resId)" title="Edit Resume" aria-label="Edit resume"> editResume</button>
    <button color="primary" (click)="previewResume(resId)" title="Preview Resume" aria-label="Preview resume">Preview</button>
    <!-- <button mat-raised-button color="warn" (click)="templateChange(data._id)" title="Change Resume Design"  style="margin: 3px">Change Design</button> -->
  </div>
</div>
<!-- </div > -->


<app-form></app-form>
<app-display></app-display>







<!--for changing the resume template-->
<!-- <div *ngIf="showTemplates" class="row allTemplates">
  <h1 style="width: 100%; text-align: center;margin: 0">Resume Templates</h1>

  <div class="templateCard m-2" *ngFor="let temp of templates;index as i" (click)="showSelectedDesign(i)">
    <img class="brochure-poster" [src]="temp.loc" height="100%" width="100%"/>
  </div>

</div> -->