
nav{
    background-color: black;
    padding: 34px;
    border: 2px solid red;
    border-radius: 10px;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 0px 40px;
    font-size: 20px;
    list-style: none;
}


