<div>
  <p class="bg-light fs-5 text-muted text-center" *ngIf="showLoadMessage">
    Loading Data ...<span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
  </p>
</div>
<ng-template appPlaceholder></ng-template>

<div *ngIf="showResume" class="model-container">
  <div class=" placeButton">
    <button type="button"  class="btn btn-secondary" (click)="closeResume()">Close Resume</button>
    <!-- <button type="button"  (click)="pdf.saveAs('invoice.pdf')" class="m-3" mat-raised-button color="accent">Download Resume</button> -->
  </div>
  <!-- <kendo-pdf-export #pdf paperSize="A4" margin="0.0cm" [scale]="0.65"> -->

    <div class="model shadow-lg" #pdfTable>
      <div class="row top">
        <div class="col col-8">
          <h1 style="font-size: 40px">{{inpResumeData.userdata.fname}} {{inpResumeData.userdata.lname}}</h1>
          <h1>{{inpResumeData.userdata.profession}}</h1>
          <h3> Phone: +91 7889152578, {{inpResumeData.userdata.Address}}</h3>
        </div>
        <div class="col col-4">
          <!-- <h3>Github: {{inpResumeData.socialLink.linkedInLink}}</h3>
          <h3>Linkedin: {{inpResumeData.socialLink.gitHubLink}}</h3> -->
          <h3>Email: {{inpResumeData.userdata.email}}</h3>
        </div>
      </div>

      <div class="desc">
        <h1>Some description here</h1>
      </div>

      <div class="skills">
        <h1>Skills</h1>
        <br>
        <div class="row">
          <div class="col col-8">
            <p *ngFor="let skill of inpResumeData.skill">{{skill.name}}</p>
          </div>
          <!-- <div class="col col-4">
            <div class="progress" *ngFor="let skill of inpResumeData.skill" style="margin-bottom: 20px">
              <div class="progress-bar bg-info" role="progressbar" style="width:{{skill.level*20}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{skill.level}}</div>
             </div>
          </div> -->
        </div>
      </div>

      <div>
        <h1>Experience</h1>
        <div class="row" *ngFor="let job of inpResumeData.experience">
          <!-- <div class="col col-4">
            {{job.startDate | date:'mediumDate'}} to {{job.endDate | date:'mediumDate'}}
          </div> -->
          <div class="col col-8">
            <h3 >{{job.Role}} @ {{job.Cname}}}</h3>
            <ul>
              <li *ngFor="let desc of job.Description">{{desc}}</li>
            </ul>
          </div>
        </div>
      </div>

      <h1>Education</h1>
      <div class="row edu" *ngFor="let edu of inpResumeData.education">
        <!-- <div class="col col-4">
          {{edu.startDate | date:'mediumDate'}} to {{edu.endDate | date:'mediumDate'}}
        </div> -->
        <div class="col col-8">
          <h3>{{edu.School}}</h3>
          <p class="display-5">{{edu.Degree}} </p>
          <p class="display-5">{{edu.CGPA}} </p>
        </div>
      </div>

      <!-- <h1>Certification</h1>
      <div class="row edu" *ngFor="let cert of inpResumeData.certification">
        <div class="col col-4">
          {{cert.date | date:'mediumDate'}}
        </div>
        <div class="col col-8">
          <h3 >{{cert.name}}</h3>
          <p class="display-5">link: {{cert.link}} </p>
          <p class="display-5">{{cert.description}}</p>
        </div>
      </div>
      <h1>Hobbies</h1>
      <ul>
        <li *ngFor="let hob of inpResumeData.hobbies">{{hob}}</li>
      </ul>
    </div> -->
  <!-- </kendo-pdf-export> -->
</div>